{{include file='manager/public/head.html'}}
<body class="no-skin">
{{include file='manager/public/header.html'}}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>
    {{include file='manager/public/sidebar.html'}}
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            {{include file='manager/public/breadcrumbs.html'}}

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                {{include file='manager/public/set.html'}}

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form id="save_form" class="form-horizontal" role="form" action="/manager/contract_save" method="post">
                            <input type="hidden" name="ht_id" value="{{$data.ht_id|default:''}}">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="ht_name"> 合同名称 </label>
                                <div class="col-sm-9">
                                    <input type="text" id="ht_name" name="ht_name" required="required" class="rcol-xs-10 col-sm-5" value="{{$data.ht_name|default:''}}">
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="status"> 是否启用 </label>
                                <div class="control-label no-padding-left col-sm-1">
                                    <label>
                                        <input name="status" value="1" id="status" {{if $data.status|default:-1 == 1}} checked="checked" {{/if}}
                                               class="ace ace-switch ace-switch-2" type="checkbox" />
                                        <span class="lbl"></span>
                                    </label>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-7">
                                    <span class="middle">YES，启用；NO，禁用</span>
                                </span>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="remark"> 备注 </label>
                                <div class="col-sm-9">
                                    <textarea name="ht_text" id="ht_text" maxlength="150" style="width:60%;height:100px;">{{$data.ht_text|default:''}}</textarea>
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>
                            </div>
                            <div class="col-md-offset-2 col-md-9">
                                <button id="save_btn" class="btn btn-info" type="button">

                                    <i class="icon-ok bigger-110"></i>

                                    保 存

                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <a href="/manager/contract_list" class="btn" type="reset">

                                    <i class="icon-undo bigger-110"></i>

                                    返 回

                                </a>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {{include file='manager/public/footer.html'}}

</div><!-- /.main-container -->

{{include file='manager/public/footerjs.html'}}
<!-- inline scripts related to this page -->
<script src="/manager_statics/qwadmin/js/date-time/bootstrap-datepicker.js"></script>
<script src="/manager_statics/app/ajaxfileupload.js"></script>
<script type="text/javascript">



    $("#save_btn").click(function(){
        var ht_name = $.trim($("#ht_name").val());
        if (ht_name == "" ) {
            layer.msg('合同名称 不能为空', {icon: 2});
            return false;
        }

        
        $("#save_form").submit();
    })


</script>
</body>
</html>
