<table style="width: 99%">
	
	<tr>
        <td style="width: 100px">工作流：</td>
        <td>
            <select name="sel_loan_status_" id="sel_loan_status_" style="width: 90%">
                <option value="">-请选择-</option>
                <option value="1" >待面签</option>
                <option value="2" >待风控</option>
                <option value="3" >待终审</option>
                <option value="4" >待网签</option>
                <option value="5" >待托管</option>
                <option value="6" >待按揭放款</option>
                <option value="7" >待赎楼借款</option>
                <option value="8" >待过户</option>
                <!--<option value="9">待回款</option>-->
            </select>
        </td> 
    </tr>

</table>

<script type="text/javascript">

</script>

